@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);

html,body,p,ul,ol,dl {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

strong, b, button, code {
    font-weight: 700;
}
